@use 'sass:math';

@import '../../scss/variables';

section.note {
  margin: math.div($global-spacing-large, 2) 0 math.div($global-spacing-large, 2) $global-spacing-large;
  margin-right: -($global-spacing-large);
  float: right;
  width: 350px;
  padding: $global-padding-large / 2;
  border-radius: $global-border-radius;
  background: $global-color-grey;

  @include breakpoint('small') {
    width: 100%;
    margin: $global-spacing-small auto;
    padding: $global-padding-small;
  }

  * {
    color: $global-color-background;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 22px;
    line-height: 22px;
  }

  p,
  li {
    font-size: 16px;
    line-height: 22px;
  }

  li {
    margin-bottom: 10px;
  }

  > blockquote {
    padding: 0;
    width: 100%;
    color: inherit;
    background: inherit;
  }
}
