@use "sass:math";
@use "../../scss/variables";

section.note {
  margin: math.div(variables.$global-spacing-large, 2) 0
    math.div(variables.$global-spacing-large, 2) variables.$global-spacing-large;
  margin-right: -(variables.$global-spacing-large);
  float: right;
  width: 350px;
  padding: math.div(variables.$global-padding-large, 2);
  border-radius: variables.$global-border-radius;
  background: variables.$global-color-grey;

  @include variables.breakpoint("small") {
    width: 100%;
    margin: variables.$global-spacing-small auto;
    padding: variables.$global-padding-small;
  }

  * {
    color: variables.$global-color-background;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 22px;
    line-height: 22px;
  }

  p,
  li {
    font-size: 16px;
    line-height: 22px;
  }

  li {
    margin-bottom: 10px;
  }

  > blockquote {
    padding: 0;
    width: 100%;
    color: inherit;
    background: inherit;
  }
}
