@import "../../scss/variables";

.card {
  overflow: hidden;
  position: relative;
  display: block;
  aspect-ratio: 2 / 1;
  width: 100%;
  border-radius: $global-border-radius;
  background: repeat $global-color-primary-dark;

  &::before {
    opacity: 0.6;
    content: "";
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $global-color-primary-dark;
  }
}

.no-image {
  background-image: url("../../../public/images/icons/dolphin-catalogue-default.svg");
  transition: background-position-y 0.6s $global-transition-ease-out-expo;
}

.no-image:hover {
  background-position-y: -5%;
}

.text { 
  &::before {
    $size: 25%;

    opacity: 0.7;
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: $size;
    height: $size;
    background: url("../../../public/images/icons/dolphin-catalogue-stamp.svg") top right no-repeat transparent;
    background-size: contain;

    @include breakpoint("small") {
      top: 10px;
      right: 10px;
    }
  }

  z-index: 20;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: $global-padding-large / 2;
  width: 100%;
  height: 100%;
  color: $global-color-background;

  @include breakpoint("medium") {
    padding: $global-padding-medium / 2;
  }

  @include breakpoint("small") {
    padding: $global-padding-small / 2;
  }
}

.title {
  display: block;
  font-size: 32px;
  line-height: 32px;

  @include breakpoint("medium") {
    font-size: 26px;
    line-height: 26px;
  }

  @include breakpoint("small") {
    font-size: 22px;
    line-height: 22px;
  }

  &::before {
    opacity: 0.5;
    content: "#";
    padding-right: 2px;
  }
}

.card:hover > .text > .title > span {
  text-decoration: underline;
}

.subtitle {
  display: block;
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 22px;

  @include breakpoint("medium") {
    font-size: 16px;
    line-height: 16px;
  }

  @include breakpoint("small") {
    font-size: 14px;
    line-height: 14px;
  }
}

.image {
  z-index: 0;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s $global-transition-ease-out-expo;
}

.card:hover > .image {
  transform: scale(1.1);
  filter: blur(4px);
}
