@use 'sass:color';

@import '../../scss/variables';

$width: 100%;
$height-large: 70px;
$height-small: 50px;

$bottom-border-size: 5px;
$border-radius: 10px;

.catalogue {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
  width: $width;
  height: $height-large;
  border-radius: $border-radius;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  border: 2px solid $global-color-catalogue;
  box-shadow: 0 $bottom-border-size 0 color.adjust($global-color-catalogue, $lightness: 5%);
  background: #fff;

  @include breakpoint('small') {
    padding: 6px 10px;
    height: $height-small;
    font-size: 14px;
    line-height: 14px;
  }

  &:hover {
    color: inherit;
    text-decoration: none;
    border-color: $global-color-primary-dark;
    box-shadow: 0 $bottom-border-size 0 $global-color-primary-light;

    .title {
      color: $global-color-primary-dark;
      text-decoration: underline;
    }
  }

  $icon-size-large: 32px;
  $icon-size-small: 18px;

  > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $icon-size-large;
    min-height: $icon-size-large;
    background: url('../../../public/images/icons/catalogues/dolphin.svg') center center no-repeat;
    background-size: contain;

    @include breakpoint('small') {
      min-width: $icon-size-small;
      min-height: $icon-size-small;
    }
  }
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  background: #f7f7f8;

  > .icon,
  > .text {
    opacity: 0.5;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 10px;
  width: 100%;
  text-decoration: none;
  overflow: hidden;
}

.title,
.subtitle {
  display: block;
  width: 100%;
}

.subtitle {
  position: relative;
  margin-top: 5px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @include breakpoint('small') {
    margin-top: 2px;
  }
}
