# Node
node_modules/
npm-debug.log*
*.tsbuildinfo

# Apps
.next/
coverage/

# Environment Variables
.env

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*tfplan*
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Misc
.DS_Store

# Sentry Config File
.env.sentry-build-plugin
