@use "sass:color";

@import "../../../../scss/variables";

$grid-spacing-large: $global-spacing-large / 2;
$grid-spacing-medium: $global-spacing-medium / 2;
$grid-spacing-small: $global-spacing-small / 2;

// Columns

.left {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: $global-spacing-large * 2;
  row-gap: $global-spacing-large;

  @include breakpoint("medium") {
    column-gap: $global-spacing-medium;
    row-gap: $global-spacing-medium;
  }

  @include breakpoint("small") {
    grid-template-columns: 1fr;
    row-gap: $global-spacing-small;
  }
}

.right {
  @include breakpoint("small") {
    order: -1;
  }
}

// Left

.description {
  margin-bottom: $global-spacing-large;

  @include breakpoint("medium") {
    margin-bottom: $global-spacing-medium;
  }

  @include breakpoint("small") {
    margin-bottom: $global-spacing-small;
  }

  > *:first-child {
    margin-top: 0;
  }
}

.unknown {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: $global-color-body-dark;

  > span {
    border-bottom: 1px dotted $global-color-body-dark;
  }

  &:hover {
    cursor: help;
  }
}

.info {
  margin: 0 0 $global-spacing-large;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: $grid-spacing-large;
  row-gap: $grid-spacing-large;
  list-style: none;

  @include breakpoint("medium") {
    grid-template-columns: 1fr 1fr;
    column-gap: $grid-spacing-medium;
    row-gap: $grid-spacing-medium;
  }

  @include breakpoint("small") {
    column-gap: $grid-spacing-small;
    row-gap: $grid-spacing-small;
  }
}

.info > li {
  margin: 0;
  padding: 0;
  line-height: 28px;

  @include breakpoint("small") {
    line-height: 26px;
  }
}

.info > li > b {
  display: block;
}

.list {
  margin: 5px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: stretch;
  column-gap: $grid-spacing-large;
  row-gap: $grid-spacing-large;
  list-style: none;

  @include breakpoint("medium") {
    column-gap: $grid-spacing-medium;
    row-gap: $grid-spacing-medium;
  }

  @include breakpoint("small") {
    grid-template-columns: 1fr 1fr;
    column-gap: $grid-spacing-small;
    row-gap: $grid-spacing-small;
  }
}

.list > li {
  margin: 0;
  padding: 0;
}

.info-item-double {
  grid-column: 2 / -1;
}

.info-item-full {
  grid-column: 1 / -1;
}

// Right

.images-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;

  @include breakpoint("medium") {
    column-gap: 18px;
    row-gap: 18px;
  }

  @include breakpoint("small") {
    column-gap: 15px;
    row-gap: 15px;
  }

  > .image:nth-child(1) {
    grid-column: 1 / 3;
  }

  > .image:nth-child(2) {
    grid-column: 3 / 5;
  }
}

.images-list > .image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  height: 300px;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: $global-color-body-dark;
  background: $global-color-background-dark;

  @include breakpoint("medium") {
    height: 250px;
    font-size: 22px;
    line-height: 32px;
  }

  @include breakpoint("small") {
    padding: 20px;
    font-size: 18px;
    line-height: 26px;
    height: 100px;
  }
}


// Family tree

$section-spacing: 60px;
$row-gap: 20px;
$column-gap: 40px;
$line-size: 2px;
$line-color: #CCC;

.tree,
.tree ul,
.tree li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tree .mother,
.tree .calves {
  position: relative;
  display: flex;
  flex-direction: column;

  > b {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: $section-spacing + 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      z-index: 0;
      position: absolute;
      left: 50%;
      bottom: 0;
      width: $line-size;
      height: 100%;
    }

    > span {
      z-index: 10;
      position: relative;
      padding: 8px 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      color: rgba($global-color-body-dark, 0.5);
      background: $global-color-background;
    }
  }
}

.tree .mother > b::after {
  background: linear-gradient(180deg, rgba($line-color, 1) 75%, rgba($line-color, 0) 100%);
}

.tree .calves > b::after {
  background: linear-gradient(180deg, rgba($line-color, 0) 0%, rgba($line-color, 1) 25%);
}

.tree .mother > b {
  order: 1;
}

// TODO: Re-do this
.tree .mother a {
  margin: 0 auto;
  width: calc(50% - ($column-gap / 2));
}

.tree .calves > ul {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: $row-gap;
  column-gap: $column-gap;
  overflow: hidden;
}

.tree .calves > ul > li {
  z-index: 10;
  position: relative;

  // Row lines
  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -1px;
    width: ($column-gap / 2);
    height: $line-size;
    background: $line-color;
  }

  &:nth-child(odd) {
    &::before {
      left: 100%;
    }

    // Column line
    &::after {
      content: "";
      z-index: 0;
      position: absolute;
      right: 0 - ($column-gap / 2) - $line-size;
      bottom: calc(50% - $line-size + 1px); // TODO: Fix single pixel offset
      width: $line-size;
      height: calc(100% + $row-gap);
      background: $line-color;
    }
  }

  &:nth-child(even) {
    &::before {
      right: 100%;
    }
  }
}

.tree .name {
  padding: ($global-padding-large / 2) 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $global-color-body-dark;
}
