@use 'sass:color';

@import '../../../../scss/variables';

// Toolbar

.toolbar {
  z-index: 20;
  position: relative;
  margin: 0 auto;
  padding: 0 $global-padding-large;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid #e5eaef;
  background: #fff;

  @include breakpoint('small') {
    padding: 0 $global-padding-small;
    height: 60px;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.search {
  $results-item-width: 220px;
  $results-item-spacing: 20px;

  $width: ($results-item-width * 3) + ($results-item-spacing * 2) + ($results-item-spacing * 2);
  $height: 50px;

  z-index: 10;
  position: relative;
  width: $width;
  height: $height;

  @include breakpoint('small') {
    font-size: 14px;
    width: 100%;
    height: 40px;
  }

  > input {
    z-index: 10;
    position: relative;
    padding: 0 10px 0 50px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    border: 2px solid #ddd;
    box-shadow: 0 2px 0 #ecedef;
    background: #fff;
    border-radius: 8px;
    outline: 0;
    background: 15px center no-repeat url('../../../../../public/images/icons/catalogues/search.svg') #fff;

    @include breakpoint('small') {
      font-size: 14px;
      width: 100%;
      height: 40px;
      padding-left: 40px;
      background-position-x: 10px;
      border-radius: 6px;
    }
    
    &:focus {
      border-color: $global-color-primary;
    }
  }

  > .results {
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $results-item-spacing;
    row-gap: $results-item-spacing;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: $results-item-spacing;
    width: 100%;
    max-height: 420px;
    border: 2px solid #dcdfe3;
    border-top: 0;
    box-shadow: rgba(#000, 0.4) 0 0 30px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    list-style: none;
    background: #fff;
    overflow: hidden;
    overflow-y: scroll;

    @include breakpoint('small') {
      grid-template-columns: repeat(1, 1fr);
      padding: $global-padding-small;
      column-gap: $global-spacing-small;
      row-gap: $global-spacing-small;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    > li {
      margin: 0;
      width: 100%;
    }

    > li.no-results,
    > li.loading {
      width: 100%;
      grid-column: span 3;
    }

    > li.no-results {
      font-size: 14px;
      line-height: 14px;
    }

    > li.loading::before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 32px;
      height: 32px;
      background: url('../../../../../public/images/icons/catalogues/loading.svg') center center no-repeat;
      background-size: contain;
      animation: spin 2s infinite linear;
    }
  }

  &.active {
    > input {
      box-shadow: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: $global-color-primary;
    }

    > .results {
      border-color: $global-color-primary;
    }
  }
}

// Container

.container {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include breakpoint('small') {
    flex-direction: column;
  }
}

$sidebar-size: 600px;

.main {
  margin: 0;
  padding: 0;
  width: calc(100% - $sidebar-size);
  max-width: none;

  @include breakpoint('small') {
    width: 100%;
  }

  > .wrapper {
    border-top: 2px solid #e5eaef;
    padding: 60px 40px;

    @include breakpoint('small') {
      padding: $global-padding-small;
    }
  }
}

.sidebar {
  padding: 60px 40px;
  width: $sidebar-size;
  border-left: 2px solid #e5eaef;
  border-bottom: 2px solid #e5eaef;
  border-bottom-left-radius: 20px;
  background: top left repeat url('../../../../../public/images/catalogue-background.svg') #fafafa;

  @include breakpoint('small') {
    padding: $global-padding-small;
    width: 100%;
    border-left: 0;
    border-radius: 0;
  }
}

// Left

$grid-spacing-large: $global-spacing-large / 2;
$grid-spacing-medium: $global-spacing-medium / 2;
$grid-spacing-small: $global-spacing-small / 2;

.main h1 {
  display: block;
  margin: 0 0 $global-spacing-large;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  font-family: $global-font-primary;

  @include breakpoint('small') {
    margin-bottom: $global-spacing-small;
    font-size: 24px;
    line-height: 24px;
  }
}

.info {
  margin: 0 0 $grid-spacing-large;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: $grid-spacing-large;
  row-gap: $grid-spacing-large;
  list-style: none;

  @include breakpoint('medium') {
    grid-template-columns: 1fr 1fr;
    column-gap: $grid-spacing-medium;
    row-gap: $grid-spacing-medium;
  }

  @include breakpoint('small') {
    margin-bottom: $grid-spacing-small;
    grid-template-columns: repeat(2, 1fr);
    column-gap: $grid-spacing-small;
    row-gap: $grid-spacing-small;
  }
}

.info > li {
  position: relative;
  margin: 0;
  padding: 20px;
  grid-column: span 2;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  background: #fafafa;
  border-radius: 10px;

  @include breakpoint('small') {
    padding: 15px;
    grid-column: span 1;
    font-size: 14px;
    line-height: 14px;
    border-radius: 8px;
  }

  &.no-image {
    opacity: 0.5;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;

    @include breakpoint('small') {
      font-size: 14px;
      line-height: 14px;
    }
  }

  > b {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #8e8e8e;

    @include breakpoint('small') {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 14px;
    }

    &::before {
      content: '';
      display: block;
      margin-right: 8px;
      width: 12px;
      height: 24px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &.info-item-wide {
    grid-column: span 4;

    @include breakpoint('small') {
      grid-column: span 1;
    }
  }

  &.info-item-half {
    grid-column: span 3;
  }

  &.info-item-full {
    grid-column: span 6;
  }

  @include breakpoint('small') {
    &.info-item-half,
    &.info-item-full {
      grid-column: span 2;
    }
  }

  &.info-item-other-images > ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    @include breakpoint('small') {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      row-gap: 10px;
    }

    > li {
      margin: 0;
    }
  }

  .unknown {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: $global-color-body-dark;

    > span {
      border-bottom: 1px dotted $global-color-body-dark;
    }

    &:hover {
      cursor: help;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

$sections: (
  'crru': 'crru.svg',
  'au': 'au.svg',
  'name': 'name.svg',
  'first-seen': 'first-seen.svg',
  'birth-year': 'birth-year.svg',
  'age': 'age.svg',
  'sex': 'sex.svg',
  'calves': 'calves.svg',
  'dorsal-fin-left': 'dorsal-fin.svg',
  'dorsal-fin-right': 'dorsal-fin.svg',
  'other-images': 'other-images.svg',
);

@each $section, $icon in $sections {
  .info-item-#{$section} > b::before {
    background-image: url('../../../../../public/images/icons/catalogues/#{$icon}');

    @if $section == 'dorsal-fin-right' {
      transform: scale(-1, 1);
    }
  }
}

.last-updated {
  margin-top: $global-spacing-large;
  padding: 20px;
  display: block;
  text-align: left;
  font-size: 18px;
  line-height: 18px;
  color: $global-color-body-dark;
  text-align: center;

  @include breakpoint('small') {
    margin-top: $global-spacing-small;
    font-size: 14px;
    line-height: 14px;
  }
}

// Family tree

$family-tree-item-width: 220px;
$section-spacing-large: 60px;
$section-spacing-small: 40px;
$row-gap: 20px;
$column-gap: 40px;
$line-size: 2px;
$line-color: #9c9c9c;

.tree > .mother,
.tree > .name,
.tree > .calves > ul > li {
  margin: 0 auto;
  width: $family-tree-item-width;

  @include breakpoint('small') {
    width: 100%;
  }
}

.tree,
.tree ul,
.tree li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tree .mother,
.tree .calves {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  > b {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: $section-spacing-large * 2;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint('small') {
      height: $section-spacing-small * 2;
    }

    &::after {
      content: '';
      z-index: 0;
      position: absolute;
      left: 50%;
      bottom: 0;
      width: $line-size;
      height: 100%;
    }

    > span {
      z-index: 10;
      position: relative;
      padding: 8px;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      border-radius: 5px;
      color: #fff;
      background: #202027;
      text-transform: uppercase;

      @include breakpoint('small') {
        padding: 6px;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}

.tree .mother > b::after,
.tree .calves > b::after {
  background: $line-color;
}

.tree .mother > b {
  order: 1;
}

.tree .calves > ul {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: $row-gap;
  column-gap: $column-gap;
}

.tree .calves > ul > li {
  z-index: 10;
  position: relative;
  display: flex;

  // Row lines
  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -1px;
    width: ($column-gap / 2);
    height: $line-size;
    background: $line-color;
  }

  &:nth-child(odd) {
    justify-content: flex-end;

    &::before {
      left: 100%;
    }

    // Column line
    &::after {
      content: '';
      z-index: 0;
      position: absolute;
      right: 0 - ($column-gap / 2) - $line-size;
      bottom: calc(50% - $line-size + 1px); // TODO: Fix single pixel offset
      width: $line-size;
      height: calc(100% + $row-gap);
      background: $line-color;
    }
  }

  &:first-child::after {
    height: calc(50% + 1px);
  }

  &:nth-child(even) {
    justify-content: flex-start;

    &::before {
      right: 100%;
    }
  }

  .current {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: -35px;
    padding: 8px;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    border-radius: 5px;
    color: #fff;
    background: #202027;
    text-transform: uppercase;

    @include breakpoint('small') {
      top: -20px;
      padding: 4px;
      font-size: 8px;
      line-height: 8px;
    }
  
    &::before {
      content: '';
      margin-right: 5px;
      display: block;
      width: 10px;
      height: 10px;
      background: url('../../../../../public/images/icons/catalogues/star.svg') center center no-repeat;
      background-size: contain;

      @include breakpoint('small') {
        margin-right: 4px;
        width: 8px;
        height: 8px;
      }
    }
  }
}

.tree .name {
  display: flex;
  justify-content: center;
}

.tree .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: $family-tree-item-width;
  height: 70px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  border-radius: 8px;
  border: 2px dashed #d9d9d9;
  color: rgba($global-color-body-dark, 0.5);
  background: #f7f7f8;
}
