@use "sass:math";
@use "sass:color";
@use "../../../scss/variables";

// Container

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  max-width: variables.$global-catalogue-max-width;
  overflow: hidden;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    flex-direction: column;
  }
}

// Main

$grid-spacing-large: math.div(variables.$global-spacing-large, 2);
$grid-spacing-medium: math.div(variables.$global-spacing-medium, 2);
$grid-spacing-small: math.div(variables.$global-spacing-small, 2);

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;

  @media (min-width: variables.$global-catalogue-max-width) {
    border-left: 2px solid variables.$global-color-catalogue;
    border-bottom: 2px solid variables.$global-color-catalogue;
    border-bottom-left-radius: variables.$global-border-radius;
  }

  > .wrapper {
    border-top: 2px solid variables.$global-color-catalogue;
    padding: (variables.$global-padding-large + math.div(variables.$global-padding-large, 2))
      variables.$global-padding-large;

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
      padding: (variables.$global-padding-medium + math.div(variables.$global-padding-medium, 2))
        variables.$global-padding-medium;
    }

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
      padding: (variables.$global-padding-small + math.div(variables.$global-padding-small, 2))
        variables.$global-padding-small;
    }
  }
}

.main h1 {
  display: block;
  margin: 0 0 variables.$global-spacing-large;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  font-family: variables.$global-font-primary;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
    margin-bottom: variables.$global-spacing-medium;
    font-size: 28px;
    line-height: 28px;
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    margin-bottom: variables.$global-spacing-small;
    font-size: 24px;
    line-height: 24px;
  }
}

.main h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  font-family: variables.$global-font-primary;
  color: variables.$global-color-body-dark;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 16px;
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
  }

  &::before {
    content: "";
    display: block;
    margin-right: 5px;
    width: 32px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
      width: 24px;
      height: 16px;
    }
  }
}

.icon-dolphin::before {
  background-image: url("../../../../public/images/icons/catalogues/dolphin.svg");
}

.icon-whale::before {
  background-image: url("../../../../public/images/icons/catalogues/whale.svg");
}

.info {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: $grid-spacing-large $grid-spacing-large;
  list-style: none;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: $grid-spacing-medium $grid-spacing-medium;
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    gap: $grid-spacing-small $grid-spacing-small;
  }
}

.info > li {
  position: relative;
  margin: 0;
  padding: 20px;
  grid-column: span 2;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  background: variables.$global-color-catalogue-light;
  border-radius: variables.$global-border-radius;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
    padding: 18px;
    grid-column: span 1;
    font-size: 18px;
    line-height: 18px;
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
  }

  &.no-image {
    opacity: 0.5;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  > b {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: variables.$global-color-grey;

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 16px;
    }

    &::before {
      content: "";
      display: block;
      margin-right: 5px;
      min-width: 14px;
      min-height: 24px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &.info-item-wide {
    grid-column: span 4;

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
      grid-column: span 1;
    }
  }

  &.info-item-half {
    grid-column: span 3;
  }

  &.info-item-full {
    grid-column: span 6;
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
    &.info-item-half {
      grid-column: span 1;
    }

    &.info-item-full {
      grid-column: span 2;
    }
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    &.info-item-half {
      grid-column: span 2;
    }
  }

  &.info-item-other-images > ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    > li {
      margin: 0;
    }
  }

  .unknown {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-style: italic;
    color: variables.$global-color-body-dark;

    > span {
      border-bottom: 1px dotted variables.$global-color-body-dark;
    }

    > span:hover {
      cursor: help;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
}

$sections: (
  "crru": "crru.svg",
  "aulfs": "aulfs.svg",
  "hwdt": "hwdt.png",
  "name": "name.svg",
  "birth-year": "birth-year.svg",
  "age": "age.svg",
  "sex": "sex.svg",
  "calves": "calves.svg",
  "total-recaptures": "total-recaptures.svg",
  "years-recaptured": "years-recaptured.svg",
  "dorsal-fin-left": "dorsal-fin.svg",
  "dorsal-fin-right": "dorsal-fin.svg",
  "other-images": "other-images.svg",
);

@each $section, $icon in $sections {
  .info-item-#{$section} > b::before {
    background-image: url("../../../../public/images/icons/catalogues/#{$icon}");

    @if $section == "dorsal-fin-right" {
      transform: scale(-1, 1);
    }
  }
}

.last-updated {
  margin: variables.$global-spacing-large auto 0;
  padding: 0 variables.$global-padding-large;
  display: block;
  max-width: variables.$global-catalogue-max-width;
  font-size: 16px;
  line-height: 16px;
  color: variables.$global-color-body-dark;
  text-align: left;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
    margin-top: variables.$global-spacing-medium;
    padding: 0 variables.$global-padding-medium;
    font-size: 14px;
    line-height: 14px;
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    margin-top: variables.$global-spacing-small;
    padding: 0 variables.$global-padding-small;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
  }
}

// Sidebar

$sidebar-size-large: 580px;
$sidebar-size-medium: 480px;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: (variables.$global-padding-large * 2) 0 variables.$global-padding-large;
  width: $sidebar-size-large;
  border-left: 2px solid variables.$global-color-catalogue;
  border-bottom: 2px solid variables.$global-color-catalogue;
  border-bottom-left-radius: variables.$global-border-radius;
  background: top left repeat url("../../../../public/images/catalogue-background.svg")
    variables.$global-color-catalogue-light;

  @media (min-width: variables.$global-catalogue-max-width) {
    border-right: 2px solid variables.$global-color-catalogue;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: variables.$global-border-radius;
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
    padding: (variables.$global-padding-medium * 2) 0 variables.$global-padding-medium;
    width: $sidebar-size-medium;
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    padding: (variables.$global-padding-small * 2) 0 variables.$global-padding-small;
    width: 100%;
    border-left: 0;
    border-radius: 0;
    border-top: 2px solid variables.$global-color-catalogue;
  }
}

.no-data {
  opacity: 0.7;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: variables.$global-color-catalogue-dark;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
    font-size: 20px;
    line-height: 20px;
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    font-size: 16px;
    line-height: 16px;
  }
}

.back {
  $bottom-border-size: 5px;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: (variables.$global-spacing-large * 2) auto 0;
  padding: 12px 15px;
  border-radius: variables.$global-border-radius;
  font-size: 16px;
  line-height: 16px;
  color: rgba(variables.$global-color-body, 0.7);
  text-decoration: none;
  border: 2px solid variables.$global-color-catalogue;
  background: variables.$global-color-background;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
    margin-top: (variables.$global-spacing-medium * 2);
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    margin-top: (variables.$global-spacing-small * 2);
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
  }

  &:hover {
    color: variables.$global-color-primary-dark;
    text-decoration: underline;
    border-color: variables.$global-color-primary-dark;
  }

  &::before {
    content: "";
    opacity: 0.7;
    display: block;
    margin-right: 10px;
    min-width: 16px;
    min-height: 16px;
    background: url("../../../../public/images/icons/large-arrow.svg") center center no-repeat;
    background-size: contain;
    transform: rotate(-90deg);

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
      margin-right: 8px;
      min-width: 12px;
      min-height: 12px;
    }
  }
}
