@use "sass:math";
@use "../../../scss/variables";

.loading {
  &:hover {
    cursor: wait;
  }

  > svg {
    margin: 0 auto;
  }
}

.info {
  margin-bottom: math.div(variables.$global-spacing-large, 2);
  font-size: 16px;
  line-height: 16px;
  color: variables.$global-color-body-dark;

  @include variables.breakpoint("small") {
    margin-bottom: variables.$global-spacing-small;
    font-size: 12px;
    line-height: 12px;
  }
}

.list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: math.div(variables.$global-spacing-large, 2) math.div(variables.$global-spacing-large, 2);
  list-style: none;

  @include variables.breakpoint("medium") {
    gap: math.div(variables.$global-spacing-medium, 2) math.div(variables.$global-spacing-medium, 2);
  }

  @include variables.breakpoint("small") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: math.div(variables.$global-spacing-small, 2) math.div(variables.$global-spacing-small, 2);
  }
}

.list > li {
  margin: 0;
  padding: 0;
}

.pagination {
  margin-top: variables.$global-spacing-large;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;

  @include variables.breakpoint("small") {
    margin-top: variables.$global-spacing-small;
  }
}

.pagination > li {
  margin: 0 10px 10px;

  @include variables.breakpoint("small") {
    margin: 0 5px 5px;
  }

  &:last-child {
    margin-bottom: 10px;

    @include variables.breakpoint("small") {
      margin-bottom: 5px;
    }
  }
}

.pagination > li > button {
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 18px;
  border: 2px solid variables.$global-color-primary;
  border-radius: variables.$global-border-radius;
  font-weight: bold;

  @include variables.breakpoint("small") {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 14px;
  }

  &:hover {
    border-color: variables.$global-color-primary-dark;
    text-decoration: underline;
  }
}

.pagination > li.current-page > button {
  color: variables.$global-color-background;
  background: variables.$global-color-primary;

  &:hover {
    border-color: inherit;
    background: variables.$global-color-primary-dark;
  }
}
