@use "../../scss/variables";

$input-height: 50px;
$toolbar-height-small: 50px;

.toolbar {
  z-index: 20;
  position: sticky;
  top: 0;
  margin: 0 auto;
  padding: 0 variables.$global-padding-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: variables.$global-catalogue-max-width;
  height: 80px;
  border-bottom: 2px solid variables.$global-color-catalogue;
  background: rgba(variables.$global-color-background, 0.9);

  @media (min-width: variables.$global-catalogue-max-width) {
    border-left: 2px solid variables.$global-color-catalogue;
    border-right: 2px solid variables.$global-color-catalogue;
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    padding: 0;
    height: $toolbar-height-small;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.search {
  $search-width: 800px;
  $search-results-spacing: 20px;

  z-index: 10;
  position: relative;
  width: $search-width;
  height: $input-height;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    font-size: 14px;
    width: 100%;
    height: 100%;
  }

  > input {
    z-index: 10;
    position: relative;
    padding: 0 10px 0 50px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    border: 2px solid variables.$global-color-catalogue;
    border-radius: variables.$global-border-radius;
    outline: 0;
    background: 15px center no-repeat url("../../../public/images/icons/catalogues/search.svg")
      variables.$global-color-background;

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
      width: 100%;
      height: 100%;
      padding-left: 40px;
      font-size: 14px;
      border-color: transparent;
      border-radius: 0;
      background-position-x: 15px;
      background-size: 15px 15px;
    }

    &:placeholder-shown {
      text-overflow: ellipsis;
    }

    &:focus {
      border-color: variables.$global-color-primary-dark;
    }
  }

  > .results {
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: $search-results-spacing $search-results-spacing;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: $search-results-spacing;
    width: 100%;
    max-height: 500px;
    border: 2px solid variables.$global-color-primary-dark;
    border-top: 0;
    box-shadow: rgba(#000, 0.4) 0 0 30px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    list-style: none;
    background: #fff;
    overflow: hidden;
    overflow-y: scroll;

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: variables.$global-padding-small;
      gap: variables.$global-spacing-small variables.$global-spacing-small;
      width: 100vw;
      max-height: 320px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    > li {
      margin: 0;
      width: 100%;
    }

    > li.no-results,
    > li.loading {
      width: 100%;
      grid-column: span 3;
    }

    > li.no-results {
      font-size: 14px;
      line-height: 14px;
    }

    > li.loading {
      padding: 10px 0;
    }

    > li.loading > svg {
      margin: 0 auto;
    }
  }

  &.active {
    > input {
      box-shadow: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: variables.$global-color-primary-dark;
    }
  }
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: variables.$global-padding-large * 2;
  height: 100%;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-medium) {
    padding-left: variables.$global-padding-medium * 2;
  }

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    padding-left: 0;
  }
}

.button {
  $bottom-border-size: 5px;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  height: $input-height;
  border-radius: variables.$global-border-radius;
  font-size: 16px;
  line-height: 16px;
  color: rgba(variables.$global-color-body, 0.7);
  font-weight: bold;
  text-decoration: none;
  border: 2px solid variables.$global-color-catalogue;
  background: variables.$global-color-background;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    justify-content: center;
    padding: 8px 10px;
    width: $toolbar-height-small;
    height: 100%;
    font-size: 12px;
    line-height: 12px;
    border: 0;
    border-left: 1px solid variables.$global-color-catalogue;
    border-radius: 0;

    > span {
      display: none;
    }
  }

  + .button {
    margin-left: 10px;

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
      margin-left: 0;
    }
  }

  &:hover {
    color: variables.$global-color-primary-dark;
    text-decoration: underline;
    border-color: variables.$global-color-primary-dark;

    @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
      border-color: variables.$global-color-catalogue;
      background: variables.$global-color-catalogue-light;
    }
  }

  &::before,
  &::after {
    opacity: 0.7;
    display: block;
    min-width: 16px;
    min-height: 16px;
    background: url("../../../public/images/icons/small-arrow.svg") center center no-repeat;
    background-size: contain;
  }
}

.button-previous::before {
  content: "";
  margin-right: 10px;
  transform: rotate(180deg);

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    margin-right: 0;
  }
}

.button-next::after {
  content: "";
  margin-left: 10px;

  @include variables.breakpoint(variables.$global-catalogue-breakpoint-small) {
    margin-left: 0;
  }
}

.button-disabled {
  pointer-events: none;
  box-shadow: none;
  background: variables.$global-color-background-dark;

  > span {
    opacity: 0.5;
  }

  &::before,
  &::after {
    opacity: 0.3;
  }
}
