@use "sass:math";
@use "sass:color";

@use "../scss/variables";

// Banner

.banner {
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(
    100vh - variables.$global-header-height-large -
      variables.$global-spacing-large
  );
  min-height: 600px;
  background: variables.$global-color-body;

  @include variables.breakpoint("medium") {
    height: calc(
      100vh - variables.$global-header-height-medium -
        variables.$global-spacing-large
    );
    min-height: 300px;
    max-height: 800px;
  }

  @include variables.breakpoint("small") {
    height: calc(
      60vh - variables.$global-header-height-small -
        variables.$global-spacing-small
    );
    min-height: 400px;
  }
}

.banner-text {
  z-index: 10;
  position: relative;
  max-width: 1110px;
  padding: 0 variables.$global-padding-large
    variables.$global-header-height-large;
  text-align: center;

  @include variables.breakpoint("small") {
    padding: 0 variables.$global-padding-small;
  }

  h1 {
    margin-bottom: variables.$global-spacing-large;
    font-family: variables.$global-font-primary;
    font-size: 48px;
    line-height: 68px;
    text-shadow: 0 0 8px rgba(#000, 80%);
    color: variables.$global-color-background;

    @include variables.breakpoint("medium") {
      font-size: 32px;
      line-height: 58px;
    }

    @include variables.breakpoint("small") {
      margin-bottom: variables.$global-spacing-small;
      font-size: 26px;
      line-height: 36px;
    }
  }
}

.banner-cta {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 22px;
  line-height: 22px;
  border-radius: variables.$global-border-radius;
  text-align: center;
  text-decoration: none;
  color: variables.$global-color-body;
  background: variables.$global-color-secondary;

  @include variables.breakpoint("small") {
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  > svg {
    $size: 18px;

    display: block;
    margin-top: 2px;
    margin-left: 20px;
    width: $size;
    height: $size;
    transform: translateX(-5px);
    transition: transform 0.6s variables.$global-transition-ease-out-expo;

    @include variables.breakpoint("small") {
      $size: 12px;

      margin-left: 10px;
      width: $size;
      height: $size;
      transform: none;
    }

    > path {
      fill: variables.$global-color-body;
    }
  }

  &:hover {
    opacity: 1;
    color: inherit;
    text-decoration: underline;
    background: color.adjust(
      variables.$global-color-secondary,
      $blackness: 10%
    );

    > svg {
      transform: translateX(0);
    }
  }
}

.banner > video {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-toggle {
  opacity: 0.5;
  z-index: 20;
  position: absolute;
  top: variables.$global-spacing-large;
  right: variables.$global-spacing-large;

  @include variables.breakpoint("small") {
    top: 0;
    right: 0;
    padding: variables.$global-padding-small;
  }

  &::after {
    $icon-size: 48px;

    content: "";
    display: block;
    width: $icon-size;
    height: $icon-size;
    background: center center no-repeat;
    background-size: contain;

    @include variables.breakpoint("small") {
      $icon-size: 32px;

      width: $icon-size;
      height: $icon-size;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.video-toggle-playing::after {
  background-image: url("../../public/images/icons/pause.svg");
}

.video-toggle-paused::after {
  background-image: url("../../public/images/icons/play.svg");
}

// Highlights

.highlights {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - (variables.$global-padding-large * 2));
  max-width: variables.$global-max-width * 2;
  margin: 0 auto;
  margin-bottom: -(variables.$global-header-height-large);
  transform: translateY(-(variables.$global-header-height-large));

  @include variables.breakpoint("small") {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    transform: none;
  }
}

.highlights-item {
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: variables.$global-padding-large;
  width: 100%;
  aspect-ratio: 2 / 1;
  text-decoration: none;
  border-radius: variables.$global-border-radius;
  background: variables.$global-color-grey;
  overflow: hidden;

  &:first-child {
    margin-right: variables.$global-spacing-large;
  }

  &::before {
    content: "";
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(variables.$global-color-grey, 0.4);
    transition: opacity 1s variables.$global-transition-ease-out-expo;
  }

  &:hover::before {
    opacity: 1;
  }

  &::after {
    content: "";
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      180deg,
      rgba(variables.$global-color-blue, 0.8) 0%,
      rgba(variables.$global-color-blue, 0) 100%
    );
  }

  @include variables.breakpoint("medium") {
    padding: variables.$global-padding-medium;
  }

  @include variables.breakpoint("small") {
    margin-top: variables.$global-spacing-small;
    padding: variables.$global-padding-small;
    border-radius: 0;

    &:first-child {
      margin-right: 0;
    }
  }
}

.highlights-item-title,
.highlights-item-subtitle {
  z-index: 30;
  position: relative;
  display: block;
  color: variables.$global-color-background;
}

.highlights-item-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  font-family: variables.$global-font-primary;
  font-size: 26px;
  line-height: 32px;
  text-decoration: underline;

  @include variables.breakpoint("medium") {
    font-size: 24px;
    line-height: 24px;
  }

  &::after {
    $size: 28px;

    content: "";
    display: block;
    width: $size;
    height: $size;
    background: url("../../public/images/icons/right-arrow.svg") center center
      no-repeat transparent;
    background-size: contain;
    transform: translateY(4px);

    @include variables.breakpoint("medium") {
      $size: 18px;

      width: $size;
      height: $size;
      transform: translateY(2px);
    }

    @include variables.breakpoint("small") {
      $size: 24px;

      width: $size;
      height: $size;
      transform: translateY(2px);
    }
  }

  @include variables.breakpoint("small") {
    font-size: 22px;
    line-height: 22px;
  }
}

.highlights-item-subtitle {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  @include variables.breakpoint("medium") {
    font-size: 18px;
    line-height: 18px;
  }

  @include variables.breakpoint("small") {
    font-size: 16px;
    line-height: 16px;
  }
}

.highlights-item > img {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include variables.breakpoint("small") {
    transition: none;
  }
}

// News

.news {
  margin: (variables.$global-spacing-large * 2) auto 0;
  padding: 0 variables.$global-padding-large;
  max-width: variables.$global-max-width * 2;

  @include variables.breakpoint("small") {
    margin: (variables.$global-spacing-small * 2) auto 0;
    padding: 0 variables.$global-padding-small;
    max-width: none;
  }
}

.news > h2 {
  display: flex;
  margin-top: 0;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
  font-size: 32px;
  line-height: 32px;
  font-family: variables.$global-font-primary;

  @include variables.breakpoint("small") {
    font-size: 22px;
    line-height: 22px;
  }

  &::after {
    content: "";
    margin-left: 20px;
    display: block;
    width: 100%;
    height: 2px;
    background: color.adjust(variables.$global-color-grey, $alpha: -0.5);
  }
}

.news-container {
  margin: variables.$global-spacing-large 0
    (variables.$global-spacing-large * 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @include variables.breakpoint("small") {
    flex-direction: column;
    margin: variables.$global-spacing-small 0
      (variables.$global-spacing-small * 2);
  }
}

.news-container > * {
  margin-right: variables.$global-spacing-large;
  width: calc(100% / 3);

  &:last-child {
    margin-right: 0;
  }

  @include variables.breakpoint("small") {
    margin-right: 0;
    margin-bottom: variables.$global-spacing-small;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
