@use "sass:math";
@use "sass:color";

@import "../scss/variables";

// Banner

.banner {
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - $global-header-height-large - $global-spacing-large);
  min-height: 600px;
  background: $global-color-body;

  @include breakpoint("medium") {
    height: calc(100vh - $global-header-height-medium - $global-spacing-large);
    min-height: 300px;
    max-height: 800px;
  }

  @include breakpoint("small") {
    height: calc(60vh - $global-header-height-small - $global-spacing-small);
    min-height: 400px;
  }
}

.banner-text {
  z-index: 10;
  position: relative;
  max-width: 1110px;
  padding: 0 $global-padding-large $global-header-height-large;
  text-align: center;

  @include breakpoint("small") {
    padding: 0 $global-padding-small;
  }

  h2 {
    margin-bottom: $global-spacing-large;
    font-family: $global-font-primary;
    font-size: 48px;
    line-height: 68px;
    text-shadow: 0 0 8px rgba(#000, 80%);
    color: $global-color-background;

    @include breakpoint("medium") {
      font-size: 32px;
      line-height: 58px;
    }

    @include breakpoint("small") {
      margin-bottom: $global-spacing-small;
      font-size: 26px;
      line-height: 36px;
    }
  }
}

.banner-cta {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 22px;
  line-height: 22px;
  border-radius: $global-border-radius;
  text-align: center;
  text-decoration: none;
  color: $global-color-body;
  background: $global-color-secondary;

  @include breakpoint("small") {
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  > svg {
    $size: 18px;

    display: block;
    margin-top: 2px;
    margin-left: 20px;
    width: $size;
    height: $size;
    transform: translateX(-5px);
    transition: transform 0.6s $global-transition-ease-out-expo;

    @include breakpoint("small") {
      $size: 12px;

      margin-left: 10px;
      width: $size;
      height: $size;
      transform: none;
    }

    > path {
      fill: $global-color-body;
    }
  }

  &:hover {
    opacity: 1;
    color: inherit;
    text-decoration: underline;
    background: color.adjust($global-color-secondary, $blackness: 10%);

    > svg {
      transform: translateX(0);
    }
  }
}

.banner > video {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-toggle {
  opacity: 0.5;
  z-index: 20;
  position: absolute;
  top: $global-spacing-large;
  right: $global-spacing-large;

  @include breakpoint("small") {
    top: 0;
    right: 0;
    padding: $global-padding-small;
  }

  &::after {
    $icon-size: 48px;

    content: "";
    display: block;
    width: $icon-size;
    height: $icon-size;
    background: center center no-repeat;
    background-size: contain;

    @include breakpoint("small") {
      $icon-size: 32px;

      width: $icon-size;
      height: $icon-size;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.video-toggle-playing::after {
  background-image: url("../../public/images/icons/pause.svg");
}

.video-toggle-paused::after {
  background-image: url("../../public/images/icons/play.svg");
}

// Highlights

.highlights {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - ($global-padding-large * 2));
  max-width: $global-max-width * 2;
  margin: 0 auto;
  margin-bottom: -$global-header-height-large;
  transform: translateY(-$global-header-height-large);

  @include breakpoint("small") {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    transform: none;
  }
}

.highlights-item {
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $global-padding-large;
  width: 100%;
  aspect-ratio: 2 / 1;
  text-decoration: none;
  border-radius: $global-border-radius;
  background: $global-color-grey;
  overflow: hidden;

  &:first-child {
    margin-right: $global-spacing-large;
  }

  &::before {
    content: "";
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba($global-color-grey, 0.4);
    transition: opacity 1s $global-transition-ease-out-expo;
  }

  &:hover::before {
    opacity: 1;
  }

  &::after {
    content: "";
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba($global-color-blue, 0.8) 0%, rgba($global-color-blue, 0) 100%);
  }

  @include breakpoint("medium") {
    padding: $global-padding-medium;
  }

  @include breakpoint("small") {
    margin-top: $global-spacing-small;
    padding: $global-padding-small;
    border-radius: 0;

    &:first-child {
      margin-right: 0;
    }
  }
}

.highlights-item-title,
.highlights-item-subtitle {
  z-index: 30;
  position: relative;
  display: block;
  color: $global-color-background;
}

.highlights-item-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  font-family: $global-font-primary;
  font-size: 26px;
  line-height: 32px;
  text-decoration: underline;

  @include breakpoint("medium") {
    font-size: 24px;
    line-height: 24px;
  }

  &::after {
    $size: 28px;

    content: "";
    display: block;
    width: $size;
    height: $size;
    background: url("../../public/images/icons/right-arrow.svg") center center no-repeat transparent;
    background-size: contain;
    transform: translateY(4px);

    @include breakpoint("medium") {
      $size: 18px;

      width: $size;
      height: $size;
      transform: translateY(2px);
    }

    @include breakpoint("small") {
      $size: 24px;

      width: $size;
      height: $size;
      transform: translateY(2px);
    }
  }

  @include breakpoint("small") {
    font-size: 22px;
    line-height: 22px;
  }
}

.highlights-item-subtitle {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  @include breakpoint("medium") {
    font-size: 18px;
    line-height: 18px;
  }

  @include breakpoint("small") {
    font-size: 16px;
    line-height: 16px;
  }
}

.highlights-item > img {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include breakpoint("small") {
    transition: none;
  }
}

// News

.news {
  margin: ($global-spacing-large * 2) auto 0;
  padding: 0 $global-padding-large;
  max-width: $global-max-width * 2;

  @include breakpoint("small") {
    margin: ($global-spacing-small * 2) auto 0;
    padding: 0 $global-padding-small;
    max-width: none;
  }
}

.news > h3 {
  display: flex;
  margin-top: 0;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
  font-size: 32px;
  line-height: 32px;
  font-family: $global-font-primary;

  @include breakpoint("small") {
    font-size: 22px;
    line-height: 22px;
  }

  &::after {
    content: "";
    margin-left: 20px;
    display: block;
    width: 100%;
    height: 2px;
    background: color.adjust($global-color-grey, $alpha: -0.5);
  }
}

.news-container {
  margin: $global-spacing-large 0 ($global-spacing-large * 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @include breakpoint("small") {
    flex-direction: column;
    margin: $global-spacing-small 0 ($global-spacing-small * 2);
  }
}

.news-container > * {
  margin-right: $global-spacing-large;
  width: calc(100% / 3);

  &:last-child {
    margin-right: 0;
  }

  @include breakpoint("small") {
    margin-right: 0;
    margin-bottom: $global-spacing-small;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
