@use "sass:math";
@use "../variables";

.columns {
  margin: variables.$global-spacing-large auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include variables.breakpoint("small") {
    display: block;
    margin-top: variables.$global-spacing-small;
  }
}

.columns > .columns-left,
.columns > .columns-right {
  min-width: 50%;

  @include variables.breakpoint("small") {
    min-width: 100%;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.columns.left > .columns-left,
.columns.right > .columns-right {
  min-width: 30%;
}

.columns.right > .columns-left,
.columns.left > .columns-right {
  min-width: 70%;
}

.columns > .columns-left {
  padding-right: math.div(variables.$global-padding-large, 2);

  @include variables.breakpoint("small") {
    padding-right: 0;
  }
}

.columns > .columns-right {
  padding-left: math.div(variables.$global-padding-large, 2);

  @include variables.breakpoint("small") {
    padding-left: 0;
  }
}
