@use 'sass:math';

@use '../variables';

.top-link {
  display: table;
  margin: (variables.$global-spacing-large * 2) auto 0;
  font-size: 16px;
  line-height: 16px;
  text-align: center;

  @include variables.breakpoint('small') {
    margin-top: (variables.$global-spacing-small * 2);
    font-size: 14px;
    line-height: 14px;
  }
}

.top-link > a {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  color: variables.$global-color-body;

  &::before {
    content: '';
    display: block;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    background: center center no-repeat url('../../../public/images/icons/large-arrow.svg');
    background-size: contain;
  }
}

footer {
  margin-top: math.div(variables.$global-spacing-large, 2);

  @include variables.breakpoint('small') {
    margin-top: math.div(variables.$global-spacing-small, 2);
  }
}

footer * {
  font-size: 14px;
  line-height: 14px;

  @include variables.breakpoint('small') {
    font-size: 12px;
    line-height: 12px;
  }
}

footer .footer-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: variables.$global-spacing-large variables.$global-spacing-large variables.$global-spacing-large;
  color: variables.$global-color-background;
  background: variables.$global-color-body;

  @include variables.breakpoint('small') {
    padding: variables.$global-spacing-small variables.$global-spacing-small (variables.$global-spacing-small * 2);
    flex-direction: column;
  }
}

footer .background {
  display: block;
  width: 100%;
  height: auto;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @include variables.breakpoint('small') {
    margin: 0 auto;
    justify-content: center;
  }
}

footer ul > li {
  margin: 0;
  padding: 0;

  @include variables.breakpoint('small') {
    text-align: center;
  }
}

// Footer left

footer .footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  padding-right: 10px;

  @include variables.breakpoint('small') {
    margin: 0 0 variables.$global-spacing-small;
    padding: 0;
    align-items: flex-start;
    flex-direction: column;
  }
}

footer .footer-left > .footer-logo,
footer .footer-left > .footer-logo > img {
  display: block;
}

footer .footer-left > .footer-logo {
  margin-right: variables.$global-spacing-large;

  @include variables.breakpoint('medium') {
    margin-right: variables.$global-spacing-medium;
  }

  @include variables.breakpoint('small') {
    margin: 0 auto variables.$global-spacing-small;
  }
}

footer .footer-left > .footer-logo > img {
  width: 150px;
  height: 150px;

  @include variables.breakpoint('medium') {
    width: 120px;
    height: 120px;
  }

  @include variables.breakpoint('small') {
    width: 70px;
    height: 70px;
  }
}

footer .footer-left > .footer-left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

footer .footer-left .footer-links a,
footer .footer-left .footer-contact a {
  color: variables.$global-color-background;
}

footer .footer-left .footer-links {
  align-items: center;
  margin-bottom: 20px;
}

footer .footer-left .footer-links li {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

footer .footer-left .footer-links li a.external::after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  background: url('../../../public/images/icons/external-light.svg') center center no-repeat transparent;
  background-size: contain;

  @include variables.breakpoint('small') {
    width: 8px;
    height: 8px;
  }
}

footer .footer-left .footer-contact {
  flex-direction: column;
  margin-bottom: 20px;
}

footer .footer-left .footer-contact li {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

footer .footer-left .footer-credits {
  line-height: 20px !important;

  @include variables.breakpoint('small') {
    text-align: center;
  }
}

// Footer right

footer .footer-right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @include variables.breakpoint('small') {
    margin: 0 auto;
    align-items: center;
  }
}

footer .footer-right .social-links {
  margin-bottom: variables.$global-spacing-large;

  @include variables.breakpoint('small') {
    margin-bottom: variables.$global-spacing-small;
  }
}

footer .footer-right .social-links li,
footer .footer-right .footer-support li {
  margin-right: 20px;

  @include variables.breakpoint('medium') {
    margin-right: 15px;
  }

  @include variables.breakpoint('small') {
    margin-right: variables.$global-spacing-small;
  }

  &:last-child {
    margin-right: 0;
  }
}

footer .footer-right .social-links li > a,
footer .footer-right .footer-support li > a,
footer .footer-right .social-links li > a > svg,
footer .footer-right .footer-support li > a > svg {
  display: block;
}

footer .footer-right .social-links li > a > svg {
  width: 24px;
  height: 24px;

  > path.main {
    fill: variables.$global-color-background;
  }
}

footer .footer-right .social-links li > a:hover > svg > path.main {
  fill: variables.$global-color-primary;
}

footer .footer-right .footer-support {
  align-items: flex-end;
}

footer .footer-right .footer-support p {
  margin: 0 0 10px;
  text-align: right;

  @include variables.breakpoint('small') {
    text-align: center;
  }
}

footer .footer-right .footer-support li > a > img {
  display: block;
  width: auto;
  height: 50px;

  @include variables.breakpoint('medium') {
    height: 40px;
  }

  @include variables.breakpoint('small') {
    height: 30px;
  }
}
