@use "sass:math";
@use "../../scss/variables";

$row-items: 7;
$line-size-large: 4px;
$circle-size-large: 15px + $line-size-large;
$circle-margin-large: 10px;
$line-size-small: 2px;
$circle-size-small: 10px + $line-size-small;
$circle-margin-small: 8px;

.timeline {
  margin: 20px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat($row-items, 1fr);
  row-gap: 20px;
  width: 100%;
  list-style: none;

  @include variables.breakpoint("small") {
    margin-top: 15px;
    row-gap: 15px;
  }
}

.timeline-single > li::after {
  content: none;
  display: none;
}

.timeline > li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;

  &::before {
    content: "";
    z-index: 10;
    position: relative;
    display: block;
    margin-bottom: $circle-margin-large;
    width: $circle-size-large;
    height: $circle-size-large;
    background: variables.$global-color-catalogue-light;
    border-radius: 50%;
    border: $line-size-large solid variables.$global-color-catalogue;

    @include variables.breakpoint("small") {
      margin-bottom: $circle-margin-small;
      width: $circle-size-small;
      height: $circle-size-small;
      border-width: $line-size-small;
    }
  }

  &:last-child::before {
    border-color: variables.$global-color-primary;
  }

  &::after {
    content: "";
    z-index: 0;
    left: 0;
    top: math.div($circle-size-large, 2) - math.div($line-size-large, 2);
    position: absolute;
    display: block;
    width: 100%;
    height: $line-size-large;
    background: variables.$global-color-catalogue;

    @include variables.breakpoint("small") {
      top: math.div($circle-size-small, 2) - math.div($line-size-small, 2);
      height: $line-size-small;
    }
  }

  &:nth-child(#{$row-items}n):not(:last-child)::after {
    background: linear-gradient(
      90deg,
      variables.$global-color-catalogue 0%,
      variables.$global-color-catalogue 50%,
      rgba(variables.$global-color-catalogue, 0) 100%
    );
  }

  &:nth-child(#{$row-items}n + #{$row-items + 1})::after {
    background: linear-gradient(
      270deg,
      variables.$global-color-catalogue 0%,
      variables.$global-color-catalogue 50%,
      rgba(variables.$global-color-catalogue, 0) 100%
    );
  }

  &:nth-child(#{$row-items}n + #{$row-items + 1}):last-child::after {
    background: linear-gradient(
      270deg,
      variables.$global-color-catalogue 0%,
      rgba(variables.$global-color-catalogue, 0) 100%
    );
  }

  &:first-child::after {
    width: 50%;
    left: 50%;
  }

  &:last-child::after {
    width: 50%;
  }
}

.timeline > li > span {
  font-size: 16px;
  line-height: 16px;

  @include variables.breakpoint("medium") {
    font-size: 14px;
    line-height: 14px;
  }

  @include variables.breakpoint("small") {
    font-size: 12px;
    line-height: 12px;
  }
}
