/* stylelint-disable selector-max-id */

@use 'sass:math';

@import '../../scss/variables';

.loading {
  display: block;
  width: 100px;
  height: auto;

  @include breakpoint('small') {
    width: 70px;
  }
}

.wave {
  $distance: 33.3%;

  @keyframes wave {
    0% { transform: translateX(0); }
    100% { transform: translateX(-$distance); }
  }

  animation: wave 1.5s infinite linear;
}

.dolphin {
  $rotation: 80deg;
  $distance: 150%;

  @keyframes dolphin {
    0% { transform: translateY($distance) rotate(-$rotation); }
    50% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY($distance) rotate($rotation); }
  }

  animation: dolphin 2s infinite $global-transition-ease-in-out-quart;
  transform-box: fill-box;
  transform-origin: center;
}

