@use "sass:math";
@use "../../../scss/variables";

.taxonomy {
  $spacing: 15px;

  margin: 0 auto;
  padding: math.div(variables.$global-padding-large, 2);
  display: grid;
  align-items: start;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $spacing $spacing;
  width: 100%;
  border-radius: variables.$global-border-radius;
  list-style: none;
  background: variables.$global-color-secondary;

  @include variables.breakpoint("small") {
    padding: math.div(variables.$global-padding-small, 2);
    grid-template-columns: 1fr 1fr;
  }

  > li {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: variables.$global-color-body;

    &:last-child {
      padding-right: 0;
    }

    @include variables.breakpoint("small") {
      font-size: 14px;
      line-height: 18px;
    }
  }

  > li > strong,
  > li > em {
    display: block;
  }

  > li > em {
    @include variables.breakpoint("small") {
      display: inline;
    }
  }
}

.wide {
  grid-column: 2 / -1;

  @include variables.breakpoint("small") {
    grid-column: 1 / -1;
  }
}
