@use "../../../scss/variables";

.contents-table {
  $spacing: 15px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-items: stretch;
  column-gap: $spacing;
  row-gap: $spacing;
  margin: variables.$global-spacing-large auto 0;
  padding: 0 variables.$global-padding-large;
  max-width: variables.$global-max-width;
  list-style: none;

  @include variables.breakpoint("medium") {
    grid-template-columns: 1fr 1fr;
  }

  @include variables.breakpoint("small") {
    $spacing: 10px;

    grid-template-columns: 1fr;
    row-gap: $spacing;
    margin-top: variables.$global-spacing-small;
    padding: 0 variables.$global-padding-small;
  }
}

.contents-table > li {
  margin: 0;
  padding: 0;
}
