@use "sass:math";
@use "../../scss/variables";

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto variables.$global-spacing-large;
  padding: math.div(variables.$global-padding-large, 2);
  border-radius: variables.$global-border-radius;
  background: variables.$global-color-background-dark;

  @include variables.breakpoint("small") {
    display: grid;
    align-items: start;
    justify-content: space-between;
    grid-template-columns: 1fr;
    row-gap: variables.$global-spacing-small;
    margin-bottom: variables.$global-spacing-small;
    padding: math.div(variables.$global-padding-small, 2);
  }
}

.dropdown,
.search {
  padding: 0 15px;
  height: 50px;
  font-size: 16px;
  color: variables.$global-color-body;
  border: 2px solid variables.$global-color-grey;
  border-radius: variables.$global-border-radius;
  background: variables.$global-color-background;

  @include variables.breakpoint("small") {
    padding: 0 10px;
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
}

.dropdown {
  margin-right: variables.$global-spacing-large;
  padding-right: 20px;

  @include variables.breakpoint("small") {
    margin-right: 0;
  }
}

.search {
  margin-left: auto;
  display: block;
  width: 350px;

  @include variables.breakpoint("small") {
    width: 100%;
  }
}
