@use "../../scss/variables";

.breadcrumbs-container {
  margin: 0 auto;
  background: variables.$global-color-background-dark;
}

.breadcrumbs {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 5px variables.$global-padding-large;
  width: 100%;
  max-width: variables.$global-max-width;
  list-style: none;
  overflow: hidden;

  &.wide {
    max-width: variables.$global-max-width-wide;
  }

  &.inline {
    max-width: none;
  }

  @include variables.breakpoint("small") {
    padding: 4px variables.$global-padding-small;
  }
}

.breadcrumbs > li {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  &::after {
    content: "";
    margin: 0 10px;
    display: block;
    width: 10px;
    height: 10px;
    background: url("../../../public/images/icons/small-arrow.svg") center center no-repeat;
    background-size: contain;

    @include variables.breakpoint("small") {
      margin: 0 5px;
      width: 8px;
      height: 8px;
      transform: translateY(1px);
    }
  }

  &:last-child::after {
    content: none;
  }
}

.breadcrumbs > li > a,
.breadcrumbs > li > span {
  $font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: $font-size;
  line-height: $font-size;
  font-weight: 700;
  color: variables.$global-color-body;

  @include variables.breakpoint("small") {
    $font-size: 11px;

    padding: 6px 0;
    font-size: $font-size;
    line-height: $font-size;
  }
}

.breadcrumbs > li > a:hover {
  color: variables.$global-color-primary-dark;
}

.breadcrumbs > li > span {
  font-weight: 700;
  color: variables.$global-color-body;
}
