@import '../../scss/variables';

$icon-size-large: 18px;
$icon-size-small: 14px;

$tooltip-spacing: 10px;

.tooltip {
  z-index: 10;
  position: relative;
  margin-left: 5px;
  display: inline-block;
  width: $icon-size-large;
  height: $icon-size-large;
  vertical-align: middle;
  transform: translateY(-2px);

  @include breakpoint('small') {
    width: $icon-size-small;
    height: $icon-size-small;
    transform: translateY(-1px);
  }
}

.tooltip-button,
.tooltip-text {
  display: block;
}

.tooltip-button {
  opacity: 0.5;
  z-index: 0;
  width: $icon-size-large;
  height: $icon-size-large;
  background: url('../../../public/images/icons/tooltip.svg') center center no-repeat transparent;
  background-size: contain;

  @include breakpoint('small') {
    width: $icon-size-small;
    height: $icon-size-small;
  }
}

.tooltip-button:hover,
.tooltip-button-active {
  opacity: 1;
}

$easing-in: 0.6s $global-transition-ease-out-expo;
$easing-out: 0.6s $global-transition-ease-in-expo;

.tooltip-text {
  pointer-events: none;
  z-index: 10;
  opacity: 0;
  position: absolute;
  left: -$tooltip-spacing;
  bottom: calc(100% + $tooltip-spacing);
  padding: 10px;
  width: 250px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba($global-color-body, 0.3);
  background: $global-color-background;
  transform: translateY(20%);
  transition: opacity $easing-in, transform $easing-in;
}

.tooltip-text-active {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0%);
}
