@use "../../scss/variables";

.highlight {
  width: calc(100% + (variables.$global-padding-large * 2));
  margin: variables.$global-spacing-large auto;
  margin-left: -(variables.$global-spacing-large);
  padding: variables.$global-padding-large;
  border-radius: variables.$global-border-radius;
  background: variables.$global-color-secondary;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > blockquote {
    color: inherit;
    background: inherit;
  }

  @include variables.breakpoint(variables.$global-max-width) {
    border-radius: 0;
  }

  @include variables.breakpoint("small") {
    width: calc(100% + (variables.$global-padding-small * 2));
    margin: variables.$global-spacing-small auto;
    margin-left: -(variables.$global-spacing-small);
    padding: variables.$global-padding-small;
  }

  &,
  h4,
  h5,
  h6,
  a {
    color: variables.$global-color-body;
  }

  h4,
  h5,
  h6 {
    font-family: variables.$global-font-primary;
    font-size: 26px;
    line-height: 26px;

    @include variables.breakpoint("small") {
      font-size: 22px;
      line-height: 30px;
    }
  }

  a:hover {
    color: inherit;
  }
}

.highlight-warning {
  background: variables.$global-color-secondary;
}
