@use "sass:color";
@use "sass:meta";

@use "variables";

@include meta.load-css("layout/header");
@include meta.load-css("layout/footer");

// Fonts

@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Poppins-Medium.ttf") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/Poppins-MediumItalic.ttf") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Poppins-Bold.ttf") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Poppins-BoldItalic.ttf") format("woff2");
}

// Globals

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-weight: 500;
  font-family: variables.$global-font-primary;
  font-size: variables.$global-font-size-large;
  line-height: variables.$global-font-line-height;
  color: variables.$global-color-body;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: variables.$global-color-background;

  @include variables.breakpoint("small") {
    font-size: variables.$global-font-size-small;
  }

  &.menu,
  &.no-scroll {
    overflow: hidden;
    height: 100%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: inherit;
  background: none;
}

main {
  margin: 0 auto;

  @include meta.load-css("layout/content");
  @include meta.load-css("layout/form");
  @include meta.load-css("layout/columns");

  > article {
    margin: 0 auto;
    max-width: variables.$global-max-width;
    padding: (variables.$global-spacing-large * 1.5)
      variables.$global-padding-large 0;
    background: bottom right repeat-y transparent;

    @include variables.breakpoint("small") {
      margin-top: variables.$global-spacing-small * 1.5;
      padding: 0 variables.$global-padding-small;
      background-size: 40%;
      background-position-x: 85%;
    }

    > *:first-child {
      margin-top: 0;
    }

    &.wide {
      max-width: variables.$global-max-width-wide;
    }
  }
}

main .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-items: stretch;
  column-gap: variables.$global-spacing-large;
  row-gap: variables.$global-spacing-large * 1.5;

  @include variables.breakpoint("medium") {
    grid-template-columns: 1fr 1fr;
  }

  @include variables.breakpoint("small") {
    grid-template-columns: 1fr;
    column-gap: variables.$global-spacing-small;
    row-gap: variables.$global-spacing-small * 1.5;
  }
}

main .details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: (variables.$global-spacing-large * 0.5) auto 0;
  padding: 0 variables.$global-padding-large;
  max-width: variables.$global-max-width;

  list-style: none;

  @include variables.breakpoint("small") {
    margin-top: variables.$global-spacing-small;
    padding: 0 variables.$global-padding-small;
  }
}

main .details > li {
  margin: 0;
  padding: 0;
}

main .details > .date,
main .details > .category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: variables.$global-spacing-large;
  font-weight: 500;
  color: variables.$global-color-body;

  @include variables.breakpoint("small") {
    margin-right: variables.$global-spacing-small;
    font-size: 14px;
    line-height: 14px;
  }

  &::before {
    $size: 24px;

    content: "";
    display: block;
    margin-right: 8px;
    width: $size;
    height: $size;
    background: center center no-repeat transparent;
    background-size: contain;

    @include variables.breakpoint("small") {
      $size: 14px;

      margin-right: 5px;
      width: $size;
      height: $size;
    }
  }
}

main .details > .date::before {
  background-image: url("../../public/images/icons/date.svg");
}

main .details > .category::before {
  background-image: url("../../public/images/icons/category.svg");
}
