@use "../../scss/variables";

.image-row {
  width: calc(100% + (variables.$global-padding-large * 2));
  margin-left: -(variables.$global-padding-large);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include variables.breakpoint("small") {
    flex-direction: column;
    width: calc(100% + (variables.$global-padding-small * 2));
    margin-left: -(variables.$global-padding-small);
  }
}

.image-row > figure.image-caption {
  width: 100%;
}
