name: Purge cache

on:
  workflow_dispatch:

jobs:
  purge-cache:
    runs-on: ubuntu-latest

    name: Purge Cloudflare cache

    env:
      CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
      CLOUDFLARE_ZONE_ID: ${{ vars.CLOUDFLARE_ZONE_ID }}

    steps:
      - name: Purge everything
        run: >
          curl -X POST --no-progress-meter --fail-with-body
          -H 'Content-Type: application/json'
          -H 'Authorization: Bearer $CLOUDFLARE_TOKEN'
          -d '{ "purge_everything": true }'
          https://api.cloudflare.com/client/v4/zones/$CLOUDFLARE_ZONE_ID/purge_cache
